.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.headerMain {
  flex-grow: 1;
  flex-basis: auto;
}

.headerTitle {
  margin: 0.5em 0 0 0;
}

.headerButtons {
  display: flex;
  gap: 1em;
  flex-grow: 0;
  flex-basis: auto;
}
